:root {
    --icon-color-blue: #005c82;

    --local-light-color: #93b9df;
    --local-background-color: #052133;
    --remote-background-color: #3a0303;
    --GUI_HEADER_HEIGHT: 35px;
}

* {
    font-family: 'White Rabbit';
}

.hidden {
    display: none;
}

.fullScreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    left: 0;
}

.centerHV {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-h {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.toast-div {
    bottom: 10px;
    z-index: 1000;
}

.toast {
    visibility: hidden;
    border: white solid 2px;

    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 10px;

    position: relative;
    bottom: 10px;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s;
}

.toast.dismiss {
    animation: fadeout 0.5s;
}

.toast.error {
    background: #821919;
    color: white;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeout {
    from {
        bottom: 10px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


.toast-close {
    position: relative;
    top: -9px;
    right: -26px;
    cursor: pointer;
}

#loadingIcon {
    font-size: 100px;
    color: var(--icon-color-blue);
}

.guiHeader {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;

    width: 100%;
    height: var(--GUI_HEADER_HEIGHT);

    background: var(--local-background-color);
    background: linear-gradient(180deg, #005c82 0%, #0a131d 30%, #0a131d 70%, #091e28 100%);
}

.guiRegister {
    background-color: white;
}

.guiRegister * {
    clear: both;
    float: left;
    top: 30%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

.guiRegister span {
    font-size: 40px;
}

.guiRegister input {
    font-size: 30px;
    border: 1px solid gray;
    text-align: center;
}

.guiRegister i {
    font-size: 32px;
}

.guiRegister i:hover {
    color: var(--icon-color-blue);
    cursor: pointer;
}


.connectionDiv.minimized {
    border: 1px solid white;
    width: 150px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #f5f5f5;
}

.connectionDiv.minimized:hover {
    background-color: #e7e7e7;
}

.connectionDiv.restored {
    z-index: 1000;
    border-bottom: 1px solid gainsboro;
    width: 400px;
    height: 140px;
    position: absolute;
    top: var(--GUI_HEADER_HEIGHT);
    left: 50%;
    transform: translate(-50%, 0%);

    background: rgb(5, 33, 51);
    background: linear-gradient(90deg, #052133 0%, #ffffff 3%, #ffffff 97%, #3a0303 100%);
    box-shadow: 0px 10px 20px -10px black;
}

.connectionDiv .gatewayDiv {
    text-align: center;
    width: 200px;
    top: 20px;
}

.connectionDiv .gatewayDiv.local {
    position: absolute;
    left: -10px;
}

.connectionDiv .gatewayDiv.remote {
    position: absolute;
    right: -10px;
}

.connectionDiv .hostname {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.connectionDiv .ipInput {
    position: absolute;
    text-align: center;
    width: 120px;
    top: 45px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.connectionDiv button {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
}

.connectionDiv button.connect {
    top: 65px;
}

.connectionDiv button.disconnect {
    top: 80px;
}

.connectionDiv.restored i {
    position: absolute;
    font-size: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.connectionDiv.minimized i {
    top: 7px;
    position: relative;
}

.connectionDiv.minimized i.local {
    float: left;
    left: 8px;
}

.connectionDiv.minimized i.remote {
    float: right;
    right: 8px;
}

.connectionDiv.minimized .link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.connectionDiv .local {
    color: #3973ad;
}

.connectionDiv .remote {
    color: #ad3939;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;

    margin: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sideNav {
    position: fixed;
    top: var(--GUI_HEADER_HEIGHT);

    width: 160px;
    height: 100%;
}

.sideNav.local {
    text-align: right;
}

.sideNav.minimized {
    width: 38px;
}

.sideNav.minimized span {
    display: none;
}

.sideNav.local .dock-button {
    position: absolute;
    left: 0px;
    bottom: 50px;
    color: #7897B5;
    cursor: pointer;
    font-size: 24px;
}

.sideNav.remote .dock-button {
    position: absolute;
    right: 0px;
    bottom: 50px;
    color: #b57878;
    cursor: pointer;
    font-size: 24px;
}


.sideNav.local i {
    margin-left: 10px;
    margin-right: 6px;
}

.sideNav.remote {
    text-align: left;
}

.sideNav.remote i {
    margin-left: 6px;
    margin-right: 10px;
}

.sideNav .hostname {
    color: white;
    padding-left: 8px;
    margin-bottom: 14px;
    font-size: 12px;
    margin-top: 10px;
}

#localNav {
    left: 0px;
    background: var(--local-background-color);
}

#localNav li {
    background-color: #083450;
    color: #7897B5;
}

#localNav li:hover {
    background-color: #0B4C6D;
    color: var(--local-light-color);
    cursor: pointer;
}


#remoteNav {
    right: 0px;
    background: var(--remote-background-color);
}

#remoteNav ul {
    padding: 0px;
    margin: 0px;
}

#remoteNav li {
    background-color: #640606;
    color: #b57878;
}

#remoteNav li:hover {
    background-color: #821919;
    color: #e09191;
    cursor: pointer;
}