

#guiHeader{
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 25px;

    background: rgb(0,118,130);
    background: linear-gradient(180deg, rgba(0,118,130,1) 0%, rgba(10,19,29,1) 30%, rgb(10, 19, 29) 70%, rgba(9,30,40,1) 100%);
}

ul{
    padding: 0px;
    margin: 0px;
}

li{
    list-style: none;
    font-family: 'White Rabbit';

    margin: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.sideNav{
    position: fixed;
    top: 25px;

    width: 150px;
    height: 100%;
}

#leftNav{
    left: 0px;
    background: #052133;
}

#leftNav li{
    background-color: #083450;
    color: #7897B5;
}

#leftNav li:hover{
    background-color: #0B4C6D;
    color: #93b9df;
    cursor: pointer;
}


#rightNav{
    right: 0px;
    background: #3a0303;
}

#rightNav ul{
    padding: 0px;
    margin: 0px;
}

#rightNav li{
    background-color: #640606;
    color: #b57878;
}

#rightNav li:hover{
    background-color: #a30707;
    color: #e09191;
    cursor: pointer;
}