:root {
    --local-background-color: #052133;
    --remote-background-color: #3a0303;
    --GUI_HEADER_HEIGHT: 35px;
}

* {
    font-family: 'White Rabbit';
}

.hidden {
    display: none;
}

.guiHeader {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: var(--GUI_HEADER_HEIGHT);

    background: var(--local-background-color);
    background: linear-gradient(180deg, #005c82 0%, #0a131d 30%, #0a131d 70%, #091e28 100%);
}

.connectionDiv.minimized {
    border: 1px solid white;
    width: 150px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #f5f5f5;
}

.connectionDiv.minimized:hover {
    background-color: #e7e7e7;
}

.connectionDiv.restored {
    z-index: 1000;
    border-bottom: 1px solid gainsboro;
    width: 400px;
    height: 140px;
    position: absolute;
    top: var(--GUI_HEADER_HEIGHT);
    left: 50%;
    transform: translate(-50%, 0%);

    background: rgb(5, 33, 51);
    background: linear-gradient(90deg, #052133 0%, #ffffff 3%, #ffffff 97%, #3a0303 100%);
}

.connectionDiv .gatewayDiv {
    text-align: center;
    width: 200px;
    top: 20px;
}

.connectionDiv .gatewayDiv.local {
    position: absolute;
    left: -10px;
}

.connectionDiv .gatewayDiv.remote {
    position: absolute;
    right: -10px;
}

.connectionDiv .hostname {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.connectionDiv .ipInput {
    position: absolute;
    text-align: center;
    width: 120px;
    top: 45px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.connectionDiv button {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
}

.connectionDiv button.connect {
    top: 65px;
}

.connectionDiv button.disconnect {
    top: 80px;
}

.connectionDiv.restored .icon-server {
    position: absolute;
    font-size: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.connectionDiv.minimized .icon-server {
    top: 7px;
    position: relative;
}

.connectionDiv.minimized .icon-server.local {
    float: left;
    left: 8px;
}

.connectionDiv.minimized .icon-server.remote {
    float: right;
    right: 8px;
}

.connectionDiv.minimized .link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-server.local {
    color: #3973ad;
}

.icon-server.remote {
    color: #ad3939;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;

    margin: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.sideNav {
    position: fixed;
    top: var(--GUI_HEADER_HEIGHT);

    width: 150px;
    height: 100%;
}

.sideNav .hostname {
    color: white;
    padding-left: 8px;
    margin-bottom: 14px;
    font-size: 12px;
    margin-top: 10px;
}

#localNav {
    left: 0px;
    background: var(--local-background-color);
}

#localNav li {
    background-color: #083450;
    color: #7897B5;
}

#localNav li:hover {
    background-color: #0B4C6D;
    color: #93b9df;
    cursor: pointer;
}


#remoteNav {
    right: 0px;
    background: var(--remote-background-color);
}

#remoteNav ul {
    padding: 0px;
    margin: 0px;
}

#remoteNav li {
    background-color: #640606;
    color: #b57878;
}

#remoteNav li:hover {
    background-color: #821919;
    color: #e09191;
    cursor: pointer;
}